<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<body>
<!--/*@thymesVar id="owner" type="com.premt.springframeworkpetclinic.model.Owner"*/-->
    <h2>Owners</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 150px;">Id</th>
                <th style="width: 150px;">First name</th>
                <th style="width: 150px;">Last name</th>
            </tr>
        </thead>
        <tbody>

            <tr th:each="owner : ${owners}">
                <td th:text="${owner.id}">Id</td>
                <td th:text="${owner.firstName}">First Name</td>
                <td th:text="${owner.lastName}">Last name</td>
            </tr>
        </tbody>
    </table>
</body>
</html>