<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">

<body>
<!--/*@thymesVar id="vet" type="com.premt.springframeworkpetclinic.model.Vet"*/-->

    <h2>Veterinarians</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
        </thead>
        <tbody>

            <tr th:each="vet : ${vets}">
                <td th:text="${vet.id}">Id</td>
                <td th:text="${vet.firstName}">First Name</td>
                <td th:text="${vet.lastName}">Last name</td>
            </tr>
        </tbody>
    </table>
</body>
</html>