<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Pet Clinic Home</title>
</head>
<body>
<!--/*@thymesVar id="vet" type="com.premt.springframeworkpetclinic.model.Owner"*/-->

    <h1 th:text="'List of vets'">List of Owners</h1>
    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>First name</td>
                <td>Last name</td>
            </tr>
        </thead>
        <tbody>

            <tr th:each="vet : ${vets}">
                <td th:text="${vet.id}">Id</td>
                <td th:text="${vet.firstName}">First Name</td>
                <td th:text="${vet.lastName}">Last name</td>
            </tr>
        </tbody>
    </table>
</body>
</html>